<!DOCTYPE html>
<html>
<head>
    <title>LOGIN FORM</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<h2>Login</h2>
    <form method="GET">
        
        <label>Username:</label> <input type="text" name="un"/><br>
        <label>Password:</label><input type="password" name="pwd"/><br>
        <button type="submit">Submit</button><br>
        <a href="/signup.html"> New Registration Click Here !!</a>

    </form>
    </div>

</body>

</html>